body{
    background: #7DADFF;
  }
  
  form{
    background: #ffffff;
    margin: 100px auto;
    padding: 15px 40px 40px 40px;
    width: 70%;
  }
  h1{
    font-family: "Times New Roman", Times, serif;
    
  }
  .tab p{
    font-size: 20px;
    margin: 0 0 10px 0;
  }
  
  input{
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    font-size: 17px;
    border: 1px solid #aaaaaa;
  }
  
  .index-btn-wrapper{
    display: flex;
  }
  
  .index-btn{
    margin: 20px 15px 0 0;
    background: rgb(124, 162, 237);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .index-btn:hover{
    opacity: 0.8;
  }
  
  .step{
    height: 30px;
    width: 30px;
    line-height: 30px;
    margin: 0 2px;
    color: white;
    background-color: rgb(0, 76, 255);
    border-radius: 50%;
    display: inline-block;
    opacity: 0.25;
  }

  :root {
    --primary-color: rgb(11, 78, 179);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 1;
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-image: url('../formTamuStyle/backgroudForm.png');
  }
  /* Global Stylings */
  label {
    display: block;
    margin-bottom: 0.5rem;
    color: #ffffff;
  }

  input,select,textarea {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;

  }

  .width-50 {
    width: 50%;
  }

  .ml-auto {
    margin-left: auto;
  }

  .text-center {
    text-align: center;
    color: #ffffff;
  }

  /* Progressbar */
  .progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 4rem;
  }

  .progressbar::before,
  .progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: -1;
    color: #ffffff;
  }

  .progress {
    background-color: var(--primary-color);
    width: 0%;
    transition: 0.4s;
  }

  .progress-step {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
  }

  .progress-step::before {
    counter-increment: step;
    content: counter(step);
  }

  .progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: rgb(255, 255, 255);
  }

  .progress-step-active {
    background-color: var(--primary-color);
    color: #f3f3f3;
  }

  /* Form */
  .form {
    width: clamp(320px, 80%, 430px);
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 0.35rem;
    padding: 1.5rem;
  }

  .form-step {
    display: none;
    transform-origin: top;
    animation: animate 0.5s;
  }

  .form-step-active {
    display: block;
  }

  .input-group {
    margin: 2rem 0;
  }

  @keyframes animate {
    from {
      transform: scale(1, 0);
      opacity: 0;
    }
    to {
      transform: scale(1, 1);
      opacity: 1;
    }
  }

  /* Button */
  .btns-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .btn {
    padding: 0.75rem;
    display: block;
    text-decoration: none;
    background-color: var(--primary-color);
    color: #f3f3f3;
    text-align: center;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.3s;
  }
  .btn:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
  }



